*{
    margin : 0;
    padding: 0;
}
body{
    background-color: rgb(180, 200, 130);
    text-align: center;
    
}
 /* h1{ 
    text-decoration: underline; 
 }  */
.container{
    height: 70vh;
    display:flex;
    
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
     font-size: 7rem;
     color:rgb(58, 33, 33);
     border-radius: 1rem;
     border: none;
     box-shadow: 0 0 1rem black;
     background-color: rgb(224, 227, 135);
}
#reset-btn{
    background-color:aliceblue;
    color:black;
    height: 50px;
    width: 200px;
    border: 0;
    font-size: 1rem;
    border-radius: 10%;
    box-shadow: 0 0 1rem black;
}
#new-btn{
    padding: 1rem;
    color:black;
    height: 50px;
    width: 300px;
    border: none;
    font-size: 1.3rem;
    border-radius: 10%;
background-color: rgb(232, 229, 224);
}

#msg{
    color:BLACK;
    font-size: 2.5rem;;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 4rem;
}
.hide{
    display: none;
}